.section {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 10px;
}

.bw {
  color: #fff;
  background-color: #000;
}

.color-white {
  color: #fff;
}

.mapouter {
  text-align: center;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.parallax-container {
  min-height: 100px;
  max-height: 150px;
}